*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif;
}

#wrap_container{
  display: grid;
  grid-template-areas: 'header';
  grid-template-columns: 100%;
  grid-template-rows: 1080px;
  grid-row-gap: 200px ;
  color : #2d2d2d;
}
#content_container{
  display: grid;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  grid-template-areas: 'about'
                       'skills'
                       'project'
                       'contact';
  grid-template-columns: 100%;
  grid-template-rows: 943px 1460px 1691px 689px;
  grid-row-gap: 200px ;
  color : #2d2d2d;
}

#p1{
  grid-area: header;
  background-image: url("../img/main.png");
  background-attachment: fixed;
  background-size: 100% 100%;
  position: relative;
}
#header_container{

}
#header_container > #header{

  display: grid;
  grid-template-areas: "logo nav";
  grid-template-columns: 30% 70%;
  grid-template-rows: 100px;
  background-color: #fff;
  border-bottom-right-radius:25px;
  border-bottom-left-radius:25px;
  font-size: 1.042vw;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  position: fixed;
  width: 100%;
  z-index: 1;
}
#header_container > #header > #logo{
  grid-area: logo;
  display: grid;
  justify-items: center;
  align-items: center;


  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #6b5892;
}
#header_container > #header > #nav{
  grid-area: nav;
  display: grid;
  justify-items: center;
  align-items: center;
  font-weight: bold;

}
#header_container > #header > #nav > ul li{
  display: inline;
  margin-left : 10px;
}
#header_container > #header > #nav > ul > li > a{
  display: inline;
  margin-left : 50px;
  color : #2d2d2d;
}
#header_container > #header > #nav > ul > li > a:hover{
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #6b5892;
  text-decoration: underline #6b5892;
  text-underline-position: under;
  font-weight: bold;

}
#center_text {
  color:#fff;
}
#center_text > h1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 2.604vw;
}
#center_text > h2{
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translate(-50%, -57%);
  font-weight: 400;
  font-size: 2.604vw;
}
