@font-face {
  font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}


h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}


#skills_container>#abount_text>h3,
#project_container>#abount_text>h3 {
  color: #2d2d2d;
  font-size: 50px;
  font-weight: 500;
  line-height: 72px;
  text-align: center;

  /* notosanskr-medium*/
}


#front_skills_container {
  width: 1205px;
  margin: 100px auto 0;
}
#back_skills_container {
  width: 1205px;
  margin: 100px auto 200px;
}
#front_skills_container>h4,
#back_skills_container>h4 {
  color: #4f3e71;
  display: block;
  font-size: 30px;
  font-weight: 500;
  line-height: 44px;
  text-align: center;
}
#front_skills_container>.grid_container,
#back_skills_container>.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 55px;
}

.skill_box {
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.16);
  display: inline-block;
  margin-top: 50px;
  width: 260px;
}
.skill_box>img {
  display: block;
  margin: 20px 58px 21px;
}
.skill_box>h4 {
  color: #707070;
  display: block;
  font-size: 25px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 20px;
  text-align: center;
  /* notoSansKR-Normal*/
}



/* icon margin */
.skill_box>img#sass {
  margin: 38px 45px 38px;
}
.skill_box>img#java {
  margin: 20px 70px 27px;
}
.skill_box>img#php {
  margin: 50px 45px 59px;
}
.skill_box>img#nodejs {
  margin: 30px 33px 28px 32px;
}
.skill_box>img#mysql {
  margin: 50px 45px 67px;
}
.skill_box>img#python {
  margin: 30px 57px 29px 58px;
}
.skill_box>img#c {
  margin: 30px 66px;
}
.skill_box>img#linux {
  margin: 30px 70px 29px;
}
.skill_box>img#ubuntu {
  margin: 30px 58px;
}



@media (max-width: 1205px) {
  #front_skills_container,
  #back_skills_container {
    width: 100%;
  }
  #front_skills_container>.grid_container,
  #back_skills_container>.grid_container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}




#project_six_container {
  margin: 110px auto 0;
  position: relative;
  width: 1366px;
}
#project_six_container>.grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 100px;
}
.project_box {
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.16);
  display: grid;
  height: 450px;
  overflow: hidden;
}
.project_box>img {
  background-color: #4f3e71;
  height: 300px;
  width: 100%;
  object-fit: cover;
}
