@font-face {
  font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}


h4, h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}


#skills_container>#abount_text>h3,
#project_container>#abount_text>h3 {
  color: #2d2d2d;
  font-size: 50px;
  font-weight: 500;
  line-height: 72px;
  text-align: center;

  /* notosanskr-medium*/
}


#front_skills_container {
  width: 1205px;
  margin: 100px auto 0;
}
#back_skills_container {
  width: 1205px;
  margin: 100px auto 200px;
}
#front_skills_container>h4,
#back_skills_container>h4 {
  color: #4f3e71;
  display: block;
  font-size: 30px;
  font-weight: 500;
  line-height: 44px;
  text-align: center;
}
#front_skills_container>.grid_container,
#back_skills_container>.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 55px;
}

.skill_box {
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.16);
  display: inline-block;
  margin-top: 50px;
  width: 260px;
}
.skill_box>img {
  display: block;
  margin: 20px 58px 21px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.skill_box>h4 {
  color: #707070;
  display: block;
  font-size: 25px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 20px;
  text-align: center;
  /* notoSansKR-Normal*/
}



/* icon margin */
.skill_box>img#sass {
  margin: 38px 45px 38px;
}
.skill_box>img#java {
  margin: 20px 70px 27px;
}
.skill_box>img#php {
  margin: 50px 45px 59px;
}
.skill_box>img#nodejs {
  margin: 30px 33px 28px 32px;
}
.skill_box>img#mysql {
  margin: 50px 45px 67px;
}
.skill_box>img#python {
  margin: 30px 57px 29px 58px;
}
.skill_box>img#c {
  margin: 30px 66px;
}
.skill_box>img#linux {
  margin: 30px 70px 29px;
}
.skill_box>img#ubuntu {
  margin: 30px 58px;
}



@media (max-width: 1305px) {
  #front_skills_container,
  #back_skills_container {
    width: 100%;
  }
  #front_skills_container>.grid_container,
  #back_skills_container>.grid_container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 700px) {
  #front_skills_container,
  #back_skills_container {
    width: 90%;
  }
  #front_skills_container>.grid_container,
  #back_skills_container>.grid_container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}



#project_six_container {
  margin: 110px auto 0;
  position: relative;
  width: 1366px;
}
#project_six_container>.grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 110px 100px;
}
.project_box {
  background-color: #f2f2f2;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.16);
  display: block;
  height: 450px;
  overflow: hidden;
  position: relative;
}
.project_box>img {
  background-color: #8b7ca8;
  display: block;
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.project_box>.text_container {
  box-sizing: border-box;
  display: grid;
  padding: 37px 50px 36px;
  height: 150px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:  'title'
                        'subtitle_layer';
  justify-content: space-between;
  z-index: 2;
}
.hover_action{
  display: block;
  position: absolute;
  top:0;
  width: 100%;
  height: 300px;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.hover_action:hover {


  opacity: 1;
  background-color:rgba(0,0,0,0.5);

  -webkit-transition: all 1s;
  transition: all 1s;

}
.hover_action[onclick] {
  cursor: pointer;
}






.project_box>.text_container h5,
.project_box>.text_container h6 {
  color: #707070;
}
.project_box>.text_container>h5 {
  display: inline;
  font-size: 25px;
  font-weight: 400;
  grid-area: title;
}
.project_box>.text_container>.subtitle_layer {
  align-items: flex-end;
  display: flex;
  grid-area: subtitle_layer;
  justify-content: space-between;
}
.project_box>.text_container>.subtitle_layer>h6{
  display: block;
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 1466px) {
  #project_six_container {
    width: 633px;
  }
  #project_six_container>.grid_container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: stretch;
  }
}
@media (max-width: 733px) {
  #project_six_container {
    width: 90%;
  }
}





#contact_list {
  display: block;
  margin-top: 100px;
}
#contact_list>img {
  display: block;
  margin: 0 auto;
}
#contact_list>a {
  color: #2d2d2d;
  display: block;
  font-size:25px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
}
