/* Reset CSS */
* { box-sizing: border-box; }
ul { list-style: none; }
a { text-decoration: none; }
html{ font-size: 10px !important; }

body {
  margin: 0 auto;
  padding: 0;
  background-color: #F0F0F0;
}

.container {
  display: grid;
  grid-template-areas: 'search button' 'content content';
  grid-template-columns: 3.38fr 1fr;
  grid-template-rows: 80px calc(100vh - 80px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.search {
  grid-area: search;
  display: grid;
  justify-items: end;
  align-items: end;
}

.search input {
  width: 100%;
  height: 50px;
  background-image: url('/img/magnifying-glass.png');
  background-color: #fff;
  background-position: center left 20px;
  background-repeat: no-repeat;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  padding: 0 0 0 68px;
  font-size: 1.5rem;
  border: 0px;
}

#fromid {
  display: grid;
  width: 88%;
  border: 0px;
}

#fromid input {
  outline: none;
  transition: 0.5s;
  border: 1px solid #ccc;
}

#fromid input:hover {
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #555;
}

.search_button {
  grid-area: button;
  display: grid;
  justify-items: start;
  align-items: end;
}

.search_button > button {
  border: none;
  background-color: #fff;
  color: #5B5B5B;
  font-size: 1.5rem;
  width: 81.58%;
  height: 62.5%;
  text-decoration: none;
  display: inline;
  cursor: pointer;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
}

.content {
  grid-area: content;
  justify-items: center;
}

.content_table {
  background-color: #fff;
  width: 87%;
  height: 730px;
  margin-left: 9%;
  padding: 30px 0 0 30px;
  color: #5B5B5B;
  font-size: 1.5rem;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
}

p {
  padding: 0;
  margin: 0;
}

table {
  padding-left: 20px;
}

.content_tr {
  width: 100%;
}

th {
  text-align: left;
  padding: 20px 0;
  border-bottom: 3px solid #F0F0F0;
}

td {
  padding: 20px 0;
  border-bottom: 3px solid #F0F0F0;
  text-align: left;
}

td:nth-child(1) {
  width: 36%;
}

td:nth-child(2) {
  width: 23%;
}

td:nth-child(3) {
  width: 23%;
}

td:nth-child(4) {
  width: 13.5%;
}

td:nth-child(5) {
  width: 15%;
}

/* pagenation CSS */
#pagenation_box a {
  color: #5B5B5B;
}

#pagenation_box {
  text-align: center;
  width: 100%;
  margin: 3.0rem 0;
  font-family: "NotoSansKR_m";
  font-size: 2.0rem;
}

#pagenation_box a {
  text-decoration: none;
  display: inline-block;
  width: 3.0rem;
  height: 3.0rem;
}

#pagenation_box a::before {
  color: white;
}

#pagenation_box a:focus, #pagenation_box a:hover {
  color: white !important;
  background-color: #3b3b3b !important;
  border-radius: 10rem;
}

/* Mobile CSS */
@media (max-width:767px) {
  .container {
    grid-template-columns: 2.6fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }

  .search input {
    font-size: 1.3rem;
    padding-left: 40px;
    background-position: center left 15px;
  }

  .search_button > button {
    font-size: 1.3rem;
  }

  #fromid {
    width: 93%;
  }

  .content_table {
    margin-left: 5%;
    width: 90%;
    padding: 15px;
    height: 80%;
    /* overflow: scroll; */
    font-size: 1.3rem;
  }

  p {
    display: none;
  }

  table {
    padding-left: 0;
  }

  th, td {
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #F0F0F0;
  }

  td:nth-child(2),
  th:nth-child(2),
  td:nth-child(3),
  th:nth-child(3) {
    display: none;
  }

  #pagenation_box {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

}
