#selectMetro_box{
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 3.0rem 2.0rem;
  z-index: 1;
  font-family: "NotoSansKR_r";
  font-size:2.3rem;
}

#selectMetro_box .title_line{width: 100%;display: flex;justify-content: flex-end;}
#selectMetro_box .input_line{display: flex;justify-content: space-between;height: 80%;align-items: center;}
#selectMetro_box span{font-size:1.8rem;color: #a1a1a1;}
#selectMetro_box .find_item{width: 45%;border-bottom: 3px solid #a5a5a5;}
#selectMetro_box .w3-button{width:20%;height: 7.0rem;font-family: "NotoSansKR_r";}
#selectMetro_box .w3-input{outline: none;background-color:#f9f9f9!important;border: none;}
#selectMetro_box .w3-select{outline: none;background-color:#f9f9f9!important;border: none;}
#selectMetro_box .find_item:nth-child(1){}
#selectMetro_box #bothFind_item{display: flex;width: 75%;flex-direction: row;justify-content: space-between;align-items: center;}

.ui-autocomplete{z-index: 10010!important}

.closeBtn_box_2 {
  display: flex;
  justify-content: flex-end;
}
.closeBtn_2{cursor: pointer;}

.selectStation_modalBox {
  position: absolute;
  background-color: #fff;
  width: 80%;
  max-width: 1500px;
  height: auto;
  padding: 15px;
  z-index: 10002;
  background-color: #f9f9f9;
  box-shadow: 10px 10px 50px 0 rgba(0, 0, 0, 0.16);
    border-radius: 30px;
}
.hidden{
  display: none;
}


@media only screen and (min-width: 1920px) {
  /* .test_modal{width: 1920px;} */
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 540px) {

}
@media only screen and (max-width: 425px) {

}
@media only screen and (max-width: 360px) {

}
